@import url('../fonts/awesome/font-awesome.min.css');h1, h2, h3, h4, h5, h6{margin:0;}
ul{margin:0;padding:0;list-style:none;}
a, button{-webkit-transition:all 0.86s;-moz-transition:all 0.86s;-ms-transition:all 0.86s;-o-transition:all 0.86s;transition:all 0.86s;}
a:hover, a:focus{text-decoration:none;outline:none;}
iframe{border:0;}
.flat, .btn-flat{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.has-feedback > span.fa{top:9px !important;}
.italic{font-style:italic;}
.image{display:block;}
.image img{-webkit-transition:all 250ms ease-in-out 0s;-moz-transition:all 250ms ease-in-out 0s;-ms-transition:all 250ms ease-in-out 0s;-o-transition:all 250ms ease-in-out 0s;transition:all 250ms ease-in-out 0s;display:block;width:100%;max-width:100%;}
.image img:hover{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;}
.breadcrumb-container{margin-bottom:15px;}
.breadcrumb{background-color:transparent;margin-bottom:0;padding:6px 0;}
.breadcrumb > li > a, .breadcrumb > li.active, .breadcrumb > li + li:before{font-size:.8em;}
.breadcrumb > li + li:before{font-family:'FontAwesome';content:"\f101";}
.breadcrumb > li.active{font-weight:300;}
.breadcrumb > li > a{font-weight:700;}
.article-content{color:#666666;}
.article-content h1, .article-content h2, .article-content h3, .article-content p{margin-bottom:20px;}
.article-content p{text-align:justify;}
.article-content h2{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;color:#333333;}
.article-content h2 a{color:#333;}
.article-content h3{font-size:14px;font-weight:500;}
.article-content a{color:#666666;}
.article-content a:hover{color:#e60000;}
.article-content img{max-width:100%;-webkit-transition:all 250ms ease-in-out 0s;-moz-transition:all 250ms ease-in-out 0s;-ms-transition:all 250ms ease-in-out 0s;-o-transition:all 250ms ease-in-out 0s;transition:all 250ms ease-in-out 0s;height:auto !important;}
.article-content img:hover{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;}
.col5{position:relative;min-height:1px;padding-right:15px;padding-left:15px;float:left;width:20%;}
.row0{margin-left:0px;margin-right:0px;}
.row0 > div, .row0 > li{padding-left:0px;padding-right:0px;}
.row5{margin-left:-2.5px;margin-right:-2.5px;}
.row5 > div, .row5 > li{padding-left:2.5px;padding-right:2.5px;}
.row10{margin-left:-5px;margin-right:-5px;}
.row10 > div, .row10 > li{padding-left:5px;padding-right:5px;}
.row15{margin-left:-7.5px;margin-right:-7.5px;}
.row15 > div, .row15 > li{padding-left:7.5px;padding-right:7.5px;}
.row20{margin-left:-10px;margin-right:-10px;}
.row20 > div, .row20 > li{padding-left:10px;padding-right:10px;}
.row25{margin-left:-12.5px;margin-right:-12.5px;}
.row25 > div, .row25 > li{padding-left:12.5px;padding-right:12.5px;}
.font-thin{font-weight:100;}
.font-light{font-weight:300;}
.font-normal{font-weight:400;}
.font-medium{font-weight:500;}
.font-bold{font-weight:700;}
.font-bolder{font-weight:900;}
.mall0{margin:0;}
.mall5{margin:5px;}
.mall7{margin:7.5px;}
.mall10{margin:10px;}
.mall15{margin:15px;}
.mall20{margin:20px;}
.mall30{margin:30px;}
.mt0{margin-top:0;}
.mt5{margin-top:5px;}
.mt7{margin-top:7.5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mr0{margin-right:0;}
.mr5{margin-right:5px;}
.mr7{margin-right:7.5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mb0{margin-bottom:0;}
.mb5{margin-bottom:5px;}
.mb7{margin-bottom:7.5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb15{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.ml0{margin-left:0;}
.ml5{margin-left:5px;}
.ml7{margin-left:7.5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.pall0{padding:0;}
.pall5{padding:5px;}
.pall7{padding:7.5px;}
.pall10{padding:10px;}
.pall15{padding:15px;}
.pall20{padding:20px;}
.pall30{padding:30px;}
.pt0{padding-top:0;}
.pt5{padding-top:5px;}
.pt7{padding-top:7.5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pr7{padding-right:7.5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:10px;}
.pr30{padding-right:30px;}
.pb0{padding-bottom:0;}
.pb5{padding-bottom:5px;}
.pb7{padding-bottom:7.5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:30px;}
.pb30{padding-bottom:30px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pl7{padding-left:7.5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:10px;}
.pl30{padding-left:30px;}
#topcontrol{z-index:2;bottom:-100px;cursor:pointer;overflow:auto;position:fixed;right:10px;text-align:center;-webkit-transition:all .7s ease-in-out;-moz-transition:all .7s ease-in-out;-o-transition:all .7s ease-in-out;-ms-transition:all .7s ease-in-out;transition:all .7s ease-in-out;}
#topcontrol a{color:#fff;outline:none;text-decoration:none;}
@media screen and (max-width:767px){.col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1){clear:left;}
}
@media (min-width:767px){.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1), .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1){clear:none;}
.col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1){clear:left;}
}
@media (min-width:992px){.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1), .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1){clear:none;}
.col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1),
.col-md-6:nth-child(2n+1){clear:left;}
}
@media (min-width:1200px){.col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1), .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1){clear:none;}
.col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1){clear:left;}
}