@import url('base.css');
@import url('component.css');
@import url('plugins.css');
/*------------------------- BEGIN Basic -------------------------*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
    color: #333;	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,bcbcbc+16,bcbcbc+84,ffffff+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #bcbcbc 16%, #bcbcbc 84%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#bcbcbc 16%,#bcbcbc 84%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#bcbcbc 16%,#bcbcbc 84%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
a{
	color: #666565;
}
a:hover{
	color: #e60000;
}
/*------------------------- END Basic -------------------------*/


/*------------------------- BEGIN Skins -------------------------*/
/* Arrow
 =============================*/
a.arr, ul.arr a{
	display: inline-block;
	padding-left: 9px;
	background: url(../images/skins/arw_red.gif) no-repeat 0 0.4em;
	text-decoration: none;
}
a.arr_sq,
.arr_sq,
.arr_sq:visited {
	display: inline-block;
	padding-left: 16px;
	background: url(../images/skins/bullet-main.gif) no-repeat 0 0.1em;
	text-decoration: none;
}
a.arr_sqg,
.arr_sqg,
.arr_sqg:visited {
	display: inline-block;
	padding-left: 16px;
	background: url(../images/skins/bullet-main-gray.gif) no-repeat 0 0.1em;
	text-decoration: none;
}
a.arr_sqg:hover, .active a.arr_sqg,
.active .arr_sqg:hover{
	background: url(../images/skins/bullet-main.gif) no-repeat 0 0.1em;
}
ul.arr span{
	display: inline-block;	
	background: url(../images/skins/arw_red.gif) no-repeat 0 0.4em;
	text-indent: 9px;
}
.indent_arr {
	display: inline-block;
	padding-left: 9px;
}
a.arrc{
	display: inline-block;
	padding-left: 14px;
	background: url(../images/skins/arr_red_circle.gif) no-repeat 0 0.2em;
	text-decoration: none;
}
/* NoArrow Sq
=============================*/
a.no_arr_sq,
.no_arr_sq,
.no_arr_sq:visited {
	display: inline-block;
	padding-left: 16px;
	text-decoration: none;
}
.no_arr_sq:hover {
	text-decoration: underline;
}
/*------------------------- END Skins -------------------------*/



/*------------------------- BEGIN Edit Bootstrap -------------------------*/
.container{
	max-width: 1010px
}
.container-1{
	position: relative;	
	/*height: 100%;*/
	top: 102px;	
}
/* Breadcrumb
=============================*/
.breadcrumb-container {
	background-color: none;
}
.breadcrumb > li > a,
.breadcrumb > li.active,
.breadcrumb > li + li:before {
	color: #888;
}
.breadcrumb > li > a:hover {
	color: #e60000;
}
.breadcrumb > li > a{
	font-weight: normal;
}
/* Pagination 
=============================*/
.pagination{
	margin: 0;
}
.pagination > li{	
	display: inline-block;
	margin-left: 2px;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span, 
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.pagination > li > a{
	font-weight: 500;
}
.pagination > li > a, .pagination > li > span{
	color: #666666;
	background-image: -moz-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
	background: #e60000;
    border-color: #e60000;
	color: #fff;
}
/* Carousel
============================= */
.carousel-control .fa[class*="-left"], .carousel-control .fa[class*="-right"]{
	font-size: 60px;
    height: 43px;
    margin-top: -35px;
    width: 43px;
}
.carousel-control .fa[class*="-left"], .carousel-control .fa[class*="-right"]{
    display: inline-block;
	zoom: 1; /*fix ie7*/
	*display: inline; /*fix ie7*/
    position: absolute; 
    top: 50%;
    z-index: 5;
}
.carousel-control .fa[class*="-left"]{
    left: 50%;
    margin-left: -15px;
}
.carousel-control .fa[class*="-right"]{
    margin-right: -15px;
    right: 50%;
}
.carousel-inner > .item > a > img {
    margin: 0 auto;
    width: 100%;
}
/* Tooltip
=============================*/
.tooltip-inner {
	background-color: rgba(43, 159, 218,.95);
	text-shadow: 0 1px 0 #777;
}
.tooltip.top .tooltip-arrow {
	border-top-color: rgba(43, 159, 218,.95);
}
.tooltip.right .tooltip-arrow {
	border-right-color: rgba(43, 159, 218,.95);
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: rgba(43, 159, 218,.95);
}
.tooltip.left .tooltip-arrow {
	border-left-color: rgba(43, 159, 218,.95);
}
/* Popover
=============================*/
.popover {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
.popover-content {
    border-radius: 0 !important;
    padding: 0;
}
.popover.left > .arrow {
    right: -10px;
}
.popover > .arrow {
    border-left-color: #f0f0f0 !important;
    border-right-color: #f0f0f0 !important;
}
.popover.left > .arrow::after{
	border-left-color: #f0f0f0;
}
/*------------------------- END Edit Bootstrap -------------------------*/



/*------------------------- BEGIN Component -------------------------*/
/* sb_banner
=============================*/
.sb_banner{
	margin-bottom: 30px;
}
/*list-title-news
=============================*/
.list-title-news{
  overflow: hidden;
  width: 100%;
}
.list-title-news li{
  float: left;
  margin: 0;
}
.list-title-news li{
  background: #ddd;
  padding: 0 20px 0 5px;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}
.list-title-news li:first-child{
	padding-left: 15px;
}
.list-title-news li:last-child{
	padding-right: 15px;
}
.list-title-news li:hover, .list-title-news li.active{
  background: #e60000;
}
.list-title-news li::before,
.list-title-news li::after{
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #ddd;
  -ms-transform: skew(-25deg); /* IE 9 */
    -webkit-transform: skew(-25deg); /* Chrome, Safari, Opera */
    transform: skew(-25deg);
}
.list-title-news li::before{
  left: -.5em;
}
.list-title-news li:hover::before, .list-title-news li.active::before{
  background: #e60000;
}
.list-title-news li::after{
  right: -.5em;   
}
.list-title-news li:hover::after, .list-title-news li.active::after{
  background: #e60000;
}
.list-title-news li:last-child::after{
  background: none;
}
.list-title-news li:hover a, .list-title-news li.active a{
  color: #fff;
}
/*sh_home item
=============================*/
.sh_home .item{
	margin-bottom: 10px;
}
.sh_home .item:hover img{
	opacity: 0.5;filter: alpha(opacity=50);
}
.sh_home .item .image{
	position: relative;
}
.sh_home .item .image .img_hover{
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	right: 14px;
	top: 14px;	
	background: rgba(255, 255, 255, 0.8);
	border: 3px solid rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translateY(0%) translateX(0%) scale(1);
	transform: translateY(0%) translateX(0%) scale(1);
		
	-webkit-transition: all 0.86s;
	-moz-transition: all 0.86s;
	-ms-transition: all 0.86s;
	-o-transition: all 0.86s;
	transition: all 0.86s;	
}
.sh_home .item .image .img_hover img{
	display: inline-block;
    line-height: 35px;
    margin: -7px auto 0;
    max-height: 35px;
	max-width: 35px;
    width: auto;		
}
.sh_home .item:hover .image .img_hover{
	-webkit-transform: translateY(0%) translateX(0%) scale(1.5);
	transform: translateY(0%) translateX(0%) scale(1.5);
	top: 50%;
	left: 0;
	right: 0;
	margin: -23px auto 0;	
}
.sh_home .item:hover .image .img_hover img{
	margin: -10.5px auto 0;
}
/*.sh_home#customer .item:hover img{
	opacity: 1;filter: alpha(opacity=100);
}*/
.sh_home .item .caption{
	background: #e1e1e1;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.sh_home .item .caption .title{
	font-size: 15px;
	font-weight: 500;	
}
.sh_home .item .caption .title a{
	color: #333333;	
	display: block;
	line-height: 30px;
	padding-left: 10px;
}
.sh_home .item .caption .title a .fa{
	font-size: 12px;
	color: #e60000;
	margin-right: 9px;	 
}

/* Font
=============================*/
.font-1l{
	font-weight: 300;
}
.font-1r{
	font-weight: normal;/*400*/
}
.font-1m{
	font-weight: 500;
}
.font-1b{
	font-weight: bold;
}
.font-2{
	font-family: Arial, sans-serif;
	font-weight: normal;
}

/*row
=============================*/
/*row0*/
.row0{
	margin-left: 0px;
	margin-right: 0px;
}
.row0 > div, .row0 > li{
	padding-left: 0px;
	padding-right: 0px;
}
/*row4*/
.row4{
	margin-left: -2px;
	margin-right: -2px;
}
.row4 > div, .row4 > li{
	padding-left: 2px;
	padding-right: 2px;
}
/*row10*/
.row10{
	margin-left: -5px;
	margin-right: -5px;
}
.row10 > div, .row10 > li{
	padding-left: 5px;
	padding-right: 5px;
}
/*row13*/
.row13{
	margin-left: -6.5px;
	margin-right: -6.5px;
}
.row13 > div, .row10 > li{
	padding-left: 6.5px;
	padding-right: 6.5px;
}
/*row14*/
.row14{
	margin-left: -7px;
	margin-right: -7px;
}
.row14 > div, .row14 > li{
	padding-left: 7px;
	padding-right: 7px;
}
/*row15*/
.row15{
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.row15 > div, .row15 > li{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
/*row22*/
.row22{
	margin-left: -11px;
	margin-right: -11px;
}
.row22 > div, .row22 > li{
	padding-left: 11px;
	padding-right: 11px;
}
/*aside_service
=============================*/
.aside_service, .aside_menu{	 
    width: 97.5px;
	position: fixed;
	z-index: 2;
	top:102px;
	/*padding-top: 16px;*/
}
.aside_service{
	left: 15px;
}
.aside_menu{
	right: 15px;
	padding-left: 15px;
}
.aside_service a, .aside_menu a{
	outline: none;
}
.aside_service > ul > li{	
    margin-bottom: 4px;
}
.aside_service > ul > li > a, .aside_menu > ul > li > a{	
	color: #333;
	font-weight: 500;
	display: inline-block;
	font-family: Arial, sans-serif;
    font-size: 12px;      
	text-align: center;   
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;	
}
.aside_service > ul > li > a{
	width: 84px;
    height: 84px;
	line-height: 14px;  
	padding: 35px 5px 0;
	background: url(../images/btn-service_bg.png) no-repeat center center;	
}
.aside_service > ul > li a:hover, .aside_service > ul > li.active a{
	background: url(../images/btn-service_bg-hover.png) no-repeat center center;	
	color: #fff;
}
.aside_service > ul > li.list_menu-1 > a, .aside_service > ul > li.list_menu-2 > a, .aside_service > ul > li.list_menu-4 > a {
    padding: 28px 5px 0;
}
/* aside_menu
=============================*/
#nav_menu{
	width: 82px;
	height: 299px;
	padding: 11px 7px 11px 6px;	
	background: url(../images/aside_menu_bg.png) no-repeat center center;
	text-align: center;
}
#nav_menu .icon-nav_menu {
	background: url(../images/icon-side.jpg) no-repeat top left;
    height: 107px;
	font-size: 33px;
	color: #ffd200;
	padding: 10px 10px 0;
}
#arrow-sidebar{
    display: inline;
    float: left;
    height: 27px;
    margin-right: 2px;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 21px;
}
#arrow-sidebar .fa{
  	margin: 0;
	position: absolute;
	top: 0;
}
#arrow-sidebar.active .fa-angle-double-up{
    animation: ScrolltoTop .8s linear infinite;
    -webkit-animation: ScrolltoTop .8s linear infinite;
}
@keyframes ScrolltoTop{
	0%		{bottom: -50px;}
	100%	{top: -50px}
}
@-webkit-keyframes ScrolltoTop{
	0%		{bottom: -50px;}
	100%	{top: -50px;}
}
#arrow-sidebar.active .fa-angle-double-down{
    animation: ScrolltoBottom .8s linear infinite;
    -webkit-animation: ScrolltoBottom .8s linear infinite;
}
@keyframes ScrolltoBottom{
	0%		{top: -50px;}
	100%	{:bottom -50px}
}
@-webkit-keyframes ScrolltoBottom{
	0%		{top: -50px;}
	100%	{:bottom -50px}
}


#nav_menu > ul{
	margin-top: 7px;
}
#nav_menu > ul > li {
	text-align: center;
	margin-bottom: 6px;
	float: right;
}
#nav_menu > ul > li:nth-child(2n) {
    text-align: left;
}
#nav_menu > ul > li:nth-child(2n+1) {
    text-align: right;
}
#nav_menu > ul > li:first-child {
    text-align: center;
}
#nav_menu > ul > li > a{
	background: url(../images/btn-menu_bg.png) no-repeat center center;
	color: #fff;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding: 0;
    text-align: center;
    width: 27px;	
}
#nav_menu > ul > li a:hover, #nav_menu > ul > li.active a{
	background: url(../images/btn-menu_bg-hover.png) no-repeat center center;
	color: #fcdc44;
}


/* Nav_menu Afifix 
=============================*/
#nav_menu.affix, #nav_service.affix {
	top: 47px;
	width: 97.5px;
}
#nav_menu.affix{
	width: 82px;
}
#nav_menu.affix-bottom, #nav_service.affix-bottom {
	position: absolute;
}      
/*aside_menu
=============================*/
.aside_menu img{
	display: block;
	margin: 0 auto;
}
.sh_service .item .title a{	
    display: inline-block;
    line-height: 23px;
    margin-top: -3px;
    max-height: 46px;
    overflow: hidden;
    vertical-align: middle;
}
/*main_content
=============================*/
.fp-tableCell{
	vertical-align: inherit;
	position: relative;
}
.main_content{
	width: 785px;
	height: 100%;
	margin: 0 auto;
	padding: 122px 30px 0;
	left: 0;
	right: 0;
	background: #fff;	
}

.section#home .main_content{
	padding-top: 91px;
}
@media (max-width: 767px){
	.main_content{
		width: 100%;
	}
}
/*title-main
=============================*/
.title-main {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 18px;
	font-size: 16px;
	color: #333333;
	font-weight: 500;
}
.title-main a, .title-main > span{
	color: #333333;
	border-bottom: 2px solid #e60000;
    display: inline-block;    
    font-weight: bold;
    margin-bottom: -1px;
    padding-bottom: 1px;
}
/*icon_link
=============================*/
.icon_link::after{
	display: inline-block;
	content: '';
	background: url(../images/icon-zoom.png) no-repeat;
	width: 12px;
	height: 11px;
	margin-left: 5px;
}
/* Botton
=============================*/
/*btn-main*/
.btn-main {
	background-color: #2B9FDA;
	border-color: #30A1D1;
}
.btn-main:hover {
  	background-color: #2891C7;
}
/*btn-small*/
.input-small{
	height: 17px;
	line-height: 17px;
	padding: 0 0 0 3px;		
	font-size: 10px;
	border: 1px solid #7f7f7f;	
	color: 	#666565;
}
.input-small::-webkit-input-placeholder{
	color: #666565;
}
.input-small::-moz-placeholder{
	color: #666565;
}
.input-small:-ms-input-placeholder{
	color: #666565;
}
/*------------------------- END Component -------------------------*/


/*------------------------- BEGIN Header -------------------------*/
#header{
	background: #fff;	
	border-top: 3px solid #e60000;
	height: 92px;
}
.header-body{
	font-family: Arial, sans-serif;
	font-size: 10px;
}
.logo{
	margin-top: 13px;
}
.logo img {
	max-width: 100%;
}
.subnav-search{	
	height: 17px;
	line-height: 17px;
	margin-top: 20px;
}
.subnav-search .search .input-small{
	max-width: 140px;
}
.subnav-search .subnav, .subnav-search .search{
	display: inline-block;
	margin: 0;
}
.subnav-search .subnav{
	font-size: 12px;
	margin: -9px 7px 0 0;	
    vertical-align: middle;	
}
.subnav-search .subnav li{
	padding: 0 0 0 8px;
}
.subnav-search .subnav li:first-child{
	padding: 0;
}
.subnav-search .has-feedback > span.fa {
    height: auto;
	right: 5px;
	top: 3px !important;
	width: auto;
} 
.lang{
	text-align: right;	
	margin: 7px 0 0 0;
}
.lang > li.active > a{
	color: #e60000
}
/*navbar-custom
=============================*/
.navbar-custom{
	font-weight: 500;
	font-size: 12px;
	height: auto;
    margin: 0;
	padding: 14px 0 0 0;
    min-height: auto;
	border: none;
	border-bottom: 1px solid #bbbbbb;
	/*navigation*/
	top: 0;
	background: #fff;
	width: 100%;
	z-index: 1000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.navbar-custom.affix{
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);
	box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.navbar-custom .navbar-collapse{
	padding: 0;	 
}
.navbar-custom .navbar-nav li{	
	padding: 0 9px;	
}
.navbar-custom .navbar-nav li:first-child{
	padding-left: 0;
}
.navbar-custom .navbar-nav > li:after{
    display: block;
    content: "";
    width: 1px;
    height: 9px;
    position: absolute;
    top: 0;
    right: 0;  
	background: #bbb;
}
.navbar-custom .navbar-nav > li:last-child:after{
	width: 0;
	background: none;
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-nav li a{
	padding: 0 0 5px;
	line-height: 9px;
	border-bottom: 2px solid transparent;		
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	
}
.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li:hover a, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li.active:hover a{	
	color: #e60000;
	border-bottom: 2px solid #e60000;	
	background: none;
	outline: none;
}
/*.navbar-custom .navbar-nav li.active a{
	text-transform: uppercase;
}*/
/*------------------------- END Header -------------------------*/


/*------------------------- BEGIN Footer -------------------------*/
#footer{
	font-size: 12px;
	background: #fff;
	max-width: 785px;
	padding: 20px 30px 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 999;
}
.footer-body{
	border-top: 1px solid #e60000;	
	padding: 9px 0;
}
.footer-body address{
	line-height: 15px;
	color: #666666;
	margin-bottom: 0px;
}
/*title-foot
=============================*/
.title-foot{
	font-weight: 700;
	font-size: 1em;
	margin-bottom: 5px;
}
.title-foot .fa{
	background: #e60000;
	height: 10px;
	width: 10px;
	color: #fff;
	vertical-align: 2px;
	text-align: center;
	font-size: 8px;
	margin-right: 5px;
	padding-top: 1px; 
}
/*footer-bottom
=============================*/
.footer-bottom{
	border-top: 1px solid #d6d6d6;
	padding: 14px 0;
}
.footer-bottom > ul{
	float: left;
	width: 100%;
}
.footer-bottom > ul > li{
	border-right: 1px solid #838383;
}
.footer-bottom > ul > li:last-child{
	border-right: none;
}
.footer-bottom > ul > li > a{
	color: #333;
}
.footer-bottom > ul > li > a:hover{
	color: #e60000;
}
.footer-bottom .copyright{
	float: right;
}
.footer-bottom p{
	margin: 0;
}
/*------------------------- END Footer -------------------------*/


/*------------------------- BEGIN Page Home -------------------------*/
.home-page .main_content{
	padding-top: 0;
}
.sh_home:first-child{
	padding-top: 0;
}
.s_box{
	padding-bottom: 20px;
}
.s_box:last-child{
	padding-bottom: 0;
}
.s_box p:last-child{
	margin: 0;
}
/*------------------------- END Page Home -------------------------*/


/*------------------------- BEGIN Page About -------------------------*/
/*intro
=============================*/
.intro {
    background: #efefef none repeat scroll 0 0;
    padding: 14px;
}
.intro > img {
    float: left;
    margin: 0 10px 10px 0;
    max-height: 110px;
    max-width: 171px;
}
.intro > p {
    color: #333;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
}
.intro > p:last-child {
    margin-bottom: 0;
}
/*------------------------- END Page About -------------------------*/


/*------------------------- BEGIN Page Product -------------------------*/
#products .image{
	position: relative;
	max-height: 410px;
	overflow: hidden;

}
#products .image > img{
	max-height: 410px;
	overflow: hidden;	
}
#products .image:hover > img{
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#products .image span{
	opacity: 0;filter: alpha(opacity=0);
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	width: 154px;
	height: 154px;
	line-height: 154px;
	text-align: center;
	display: block;
	background: rgba(255,255,255, 0.5);
	margin: -77px auto;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	font-family: Arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #333;
	-webkit-transform: translateY(0%) translateX(0%) scale(0.5);
	transform: translateY(0%) translateX(0%) scale(0.5);
	-webkit-transition: all 0.86s;
	-moz-transition: all 0.86s;
	-ms-transition: all 0.86s;
	-o-transition: all 0.86s;
	transition: all 0.86s;		
}
#products .image span strong{
	background: rgba(255,255,255, 0.5);
	width: 139px;
	height: 139px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: block;
	margin: 7.5px;
	line-height: normal;
	padding: 40px 20px 0;
}
#products .image:hover span{
	opacity: 1;filter: alpha(opacity=100); 	
	-webkit-transform: translateY(0%) translateX(0%) scale(1);
	transform: translateY(0%) translateX(0%) scale(1);
}
/*------------------------- END Page Products -------------------------*/


/*------------------------- END Page News -------------------------*/
#news .new_tier1{
	padding-right: 83px;
}
#news .new_tier2{
	padding-left: 83px;
}
/*title-news
=============================*/
.title-news{
	position: relative;
	float: right;	
	height: 30px;
	line-height: 30px;	
	margin-bottom: 30px;
}
.title-news_bg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../images/repeat-bg.png) repeat top left;
	z-index: 1;
}
.title-news .list-title-news li a{
	position: relative;
	z-index: 2;
	font-weight: normal;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
/*------------------------- END Page News -------------------------*/


/*------------------------- END Page Support -------------------------*/
/* item_sp
=============================*/
.item_sp{
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.item_sp .title{
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;	
	background-image: -moz-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);		
	-webkit-border-radius: 4px 4px 0 0 ;
	-moz-border-radius: 4px 4px 0 0 ;
	-ms-border-radius: 4px 4px 0 0 ;
	-o-border-radius: 4px 4px 0 0 ;
	border-radius: 4px 4px 0 0 ;
}
.item_sp .title a{
	color: #333333;
	display: block;
	padding: 5px 19px 5px 10px;
	-webkit-border-radius: 4px 4px 0 0 ;
	-moz-border-radius: 4px 4px 0 0 ;
	-ms-border-radius: 4px 4px 0 0 ;
	-o-border-radius: 4px 4px 0 0 ;
	border-radius: 4px 4px 0 0 ;
}
.item_sp .title a:hover{
	color: #e60000;
}
.item_sp .title a .fa{
	color: #d50000;
	margin-right: 3px;
}
.item_sp .item_sp-body{
	padding: 20px 14px;
}
.item_sp p{
	line-height: 17px;
	text-align: justify;
}
/*item_sp-large
=============================*/
.item_sp-large .image{
	margin-bottom: 13px;
}
.item_sp-large .item_sp-body{
	padding-bottom: 39px;
}
/*item_sp-small
=============================*/
.item_sp-small{
	margin-bottom: 14px;
}
.item_sp-small .image{
	width: 97px;
	height: 86px;
	float: left;
	margin: 0 14px 0 0;
}
.item_sp-small .image img{
	width: 100%;
	height: 100%;
}
/*------------------------- END Page Support -------------------------*/


/*------------------------- BEGIN Page Recruit -------------------------*/
/*parallelogram
=============================*/
.parallelogram {
	position: relative;
	width: 217px;
	height: 252px;
	margin-right: 8px;
	margin-bottom: 8px;
	background: #8734f7;
	-webkit-transform: skew(151deg);
	-moz-transform: skew(151deg);
	-o-transform: skew(151deg);
	transform: skew(151deg);
	overflow: hidden;
	display: block;
	float: left;
	
}
.parallelogram img{
	width: 100%;height: 100%;
	position: absolute;
	z-index: 1;
}
.parallelogram span{
  display: none;
  opacity: 0;filter: alpha(opacity=0); 
  content: "";
  display: inline-block;
  height: 100%;
  padding-top: 34px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.parallelogram span:hover{
  background: #e60000 none repeat scroll 0 0 !important;
  color: #fff !important;
  display: block !important;
  opacity: 1  !important;filter: alpha(opacity=100) !important; 
}

.parallelogram span{ 
	background: #e60000 none repeat scroll 0 0;
	height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 50%;
}
.parallelogram span:hover{ background: #e60000 none repeat scroll 0 0;}

a:hover div.inner_span{
	display:block !important;
	opacity:1 !important;
}
/*------------------------- END Page Recruit -------------------------*/