/* ------------------------ honeycombs ------------------------ */
/*body{
    overflow: inherit !important;
}*/
.honeycombs {
    max-width: 100%;
}
.comb {
    float: left !important;
    position: static !important;
    width: 33.3333% !important;
    height: 120px !important;
    overflow: hidden;
}
.honeycombs .honeycombs-inner-wrapper {
    height: auto !important;
    margin: 0 -1% !important;
    width: 102% !important;
}
.honeycombs .service_bg {
    display: none;
}
.honeycombs .hex_l, .honeycombs .hex_r {
    height: 120px !important;
    max-width: 100% !important;
    position: static !important;
    transform: none !important;
    width: 100% !important;
}
.honeycombs .hex_inner {    
    min-height: 120px !important;
    transform: none;
    width: 100% !important;
    min-width: 100% !important;
    position: relative;
}
.honeycombs .comb {
    margin: 0 0 2% !important;
    padding: 0 1%;
    position: static !important;
}
.honeycombs .comb:nth-child(3n) {
    margin: 0 0 2% !important;
}

.honeycombs .inner_span {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.honeycombs .inner-text {   
    padding: 40px 0 0;
}

/* ------------------------ parallelogram ------------------------ */
.recruit_parallelogram {
    margin: 0 -1%;
}
.parallelogram:first-child {
    margin-left: 0;
}
.parallelogram-1 {
    height: auto;
    position: static;
    transform: none;
}
.parallelogram-2 {
    height: auto;
    min-height: 190px;
    position: relative;
    transform: none;
    width: 100%;
}
.parallelogram a {
    height: 100%;
    left: 0;
    padding-top: 28%;
    position: absolute;
    top: 0;
    width: 100%;
}
.parallelogram {
    height: 190px;
    margin: 0 0 2%;
    max-width: 100%;
    overflow: hidden;
    padding: 0 1%;
    position: static;
    transform: none;
    width: 33.3333%;
}
/*cumtommer
===========================*/
.sh_home .item .image .img_hover{
    background: #fff;
    border: 3px solid #fff;
}
.sh_home .item:hover .image .img_hover{
    width: 37px;
    height: 37px;
    line-height: 37px;
    opacity: 1;filter: alpha(opacity=100);
}

#products .image span, #products .image span strong{
    background: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;filter: alpha(opacity=100);  
}
#products .image span{
    background: none;
    display: none;
}
#products .image span strong{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;  
}
#products .image:hover span, #products .image:hover span strong{
    display: block !important;  
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.small-radion{
    margin-top: 235px !important;
}
/*.aside_service, .aside_menu{position:fixed;top:118px;float:none;}*/
.aside_menu.small-radion > .nav_menu{
    height: 436px !important;
 }
 
 #footer{
    width: 980px !important;
  padding-bottom: 500px;
}
.item_sp-large .item_sp-body {
    padding-bottom: 19px;
}
.intro{
   padding-bottom: 9px;
   padding-top: 9px;
}
.intro > p{
   margin-bottom: 0;
 }
 .innov_tier3 .image > span{
    background-color: #E60000;
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 }
 .innov_tier3 .image:hover > span{
    background-color: #E60000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 }
.quality-service-2 .owl-item{
	width: 194px !important;
 }