/*------------------------- BEGIN: Basic -------------------------*/
body{
	position: relative;	
}
@media (min-width: 922px){
	body{
		overflow: hidden;
	}
}
.fp-tableCell{
	vertical-align: inherit;
	position: relative;
}
/*------------------------- END: Basic -------------------------*/



/*------------------------- Layout -------------------------*/
/*home
=============================*/
#home{
    padding-bottom: 500px;
}
/*main_content
=============================*/
.main_content p{
	text-align: justify;
}
.main_content{	
	padding: 100px 20px 130px 20px;	
}

/*main_content-body
=============================*/
.main_content-body{
	position: fixed;
	left:0;
	right: 0;
	background: #fff;
	z-index: -1;
}
.section#home .main_content{
	padding-top: 91px;
}

/* sidebar-fixed
=============================*/
/*aside_service*/
.aside_service, .aside_menu{	 
	position: fixed;
	top:80px;
	float: none;
}
.aside_service{
	left: 15px;
}
.aside_menu{
	right: 15px;
	/*padding-left: 15px;*/
}
/* Select btn mini 
=============================*/
.aside_service.small-radion > ul{
	height: 436px !important;
}
.aside_service.small-radion > ul > li {
    margin-bottom: 1px;
}
.aside_service.small-radion > ul > li > a {
    font-size: 9px;
    height: 62px;
    line-height: 10px;
    padding: 24px 4px;
    width: 62px;
	background: url("../images/btn-service_bg-2.png") no-repeat scroll center center;
}
.aside_service.small-radion > ul > li a:hover, .aside_service.small-radion > ul > li.active a{
	background: url("../images/btn-service_bg-hover-2.png") no-repeat scroll center center;
}
.aside_service.small-radion > ul > li.list_menu-1 > a, .aside_service.small-radion > ul > li.list_menu-2 > a, .aside_service.small-radion > ul > li.list_menu-4 > a {
    padding: 21px 5px 0;
}
.aside_service.small-radion #nav_service {
    margin-left: 20px;
}


/* footer
=============================*/
#footer{
	position: fixed;	
	top: 515px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 999;
}
/*------------------------- News -------------------------*/
#news.sh_home .item .image {
    max-height: 140px;
}


/*------------------------- BEGIN: Page Home -------------------------*/
.home-page .main_content{
	padding-top: 0;
}
.sh_home:first-child{
	padding-top: 0;
}
.s_box:last-child{
	padding-bottom: 0;
}
.s_box p:last-child{
	margin: 0;
}

#home.section .main_content {
    padding: 80px 20px 0;
}
#carousel-home {
    max-height: 236px !important;
    overflow: hidden;
}
#carousel-home .carousel-indicators{
	bottom: -5px;
}
#home .main_content2 {
    padding-bottom: 160px;
    padding-top: 20px !important;
}
.list-news .icon_link > strong {
    font-weight: 500;
}
/*------------------------- END: Page Home -------------------------*/


/*------------------------- BEGIN: Page About -------------------------*/
/*intro
=============================*/
.intro {
    background: #efefef none repeat scroll 0 0;
    padding: 14px;
}
.intro > img {
    float: left;
	margin: 0 10px 4px 0;
    max-height: 110px;
    max-width: 171px;
}
.intro > p {
    color: #333;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
}
.intro > p:last-child {
    margin-bottom: 0;
}
#about.sh_home .item .image {
    max-height: 108px;
}

/*------------------------- END: Page About -------------------------*/


/*------------------------- BEGIN: Page Customer -------------------------*/
.sh_home#customer .item .image {
    max-height: 85px;
}
.sh_home .item .image .img_hover {
    height: 30px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    width: 30px;
}
.sh_home .item .image .img_hover img {
    line-height: 20px;
    max-height: 20px;
    max-width: 20px;	
}
.sh_home .item:hover .image .img_hover {
    margin-top: -12px;
	background: #fff;
}
.sh_home .item:hover .image .img_hover img{
	opacity: 1;
}
/*------------------------- END: Page Customer -------------------------*/


/*------------------------- BEGIN: Page Product -------------------------*/
#products .image{
	position: relative;
	max-height: 404px;
	overflow: hidden;
}
#products .image > img{
	max-height: 410px;
	overflow: hidden;	
}
#products .image:hover > img{
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#products .image span{
	opacity: 0;filter: alpha(opacity=0);
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	width: 154px;
	height: 154px;
	line-height: 154px;
	text-align: center;
	display: block;
	background: rgba(255,255,255, 0.5);
	margin: -77px auto;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	font-family: Arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #333;
	-webkit-transform: translateY(0%) translateX(0%) scale(0.5);
	transform: translateY(0%) translateX(0%) scale(0.5);
	-webkit-transition: all 0.86s;
	-moz-transition: all 0.86s;
	-ms-transition: all 0.86s;
	-o-transition: all 0.86s;
	transition: all 0.86s;		
}
#products .image span strong{
	background: rgba(255,255,255, 0.5);
	width: 139px;
	height: 139px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: block;
	margin: 7.5px;
	line-height: normal;
	padding: 40px 20px 0;
}
#products .image:hover span{
	opacity: 1;filter: alpha(opacity=100); 	
	-webkit-transform: translateY(0%) translateX(0%) scale(1);
	transform: translateY(0%) translateX(0%) scale(1);
}
/*------------------------- END: Page Products -------------------------*/


/*------------------------- END: Page Service -------------------------*/
/* honeycombs Exact Layout
=============================*/
/*.honeycombs{
	max-width: 600px;
	margin: 0 auto;
}		
.honeycombs .service_bg{
	background: url(../images/service_bg.png) no-repeat center center;
	width: 199px;
	height: 176px;		
	position: absolute;
	top: -12.5px;
	left: -12.5px;		
}
.honeycombs .comb{
	margin: 12.5px !important;
}
.honeycombs .inner_span{
	background-color: #ed1c24;
	color: #fff;
	font-size: 20px;
	font-weight: normal;		
}
.honeycombs .inner-text{
	padding: 27% 39px;
}*/

/* honeycombs Small Layout
=============================*/
.honeycombs{
	max-width: 400px;
	margin: 0 auto;
}		
.honeycombs .service_bg{
	background: url(../images/service_bg-3.png) no-repeat center center;
	width: 152px;
	height: 132px;		
	position: absolute;
	top: -7px;
	left: -8px;		
}
.honeycombs .comb{
	margin: 9px !important;
}
.honeycombs .inner_span{
	background-color: #e60000;
	color: #fff;
	font-size: 20px;
	font-weight: normal;		
}
.honeycombs .inner-text{
	padding: 31% 25px;
	font-size: 14px;
}
.honeycombs .inner_span:hover{
	background: #e60000 !important;
	opacity: 1 !important;filter: alpha(opacity=100)  !important;
	color: #fff !important;	
}
.honeycombs .inner_span:hover .inner-text{
	color: #fff !important;	
}
/* honeycombs Large
=============================*/
/*.honeycombs .comb:last-child {
	left: 158px !important;
	top: 356px !important;
}	
.honeycombs .comb:first-child, .honeycombs .comb:nth-child(4n) {
	left: 7px !important;
}
.honeycombs .comb:nth-child(3n) {
	left: 309px !important;
}	*/


/*------------------------- END: Page Service -------------------------*/


/*------------------------- END: Page Support -------------------------*/
/* item_sp
=============================*/
.item_sp{
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.item_sp .title{
	font-size: 13px;
	line-height: 20px;
	font-weight: 500;	
	background-image: -moz-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);		
	-webkit-border-radius: 4px 4px 0 0 ;
	-moz-border-radius: 4px 4px 0 0 ;
	-ms-border-radius: 4px 4px 0 0 ;
	-o-border-radius: 4px 4px 0 0 ;
	border-radius: 4px 4px 0 0 ;
}
.item_sp .title a{
	color: #333333;
	display: block;
	padding: 5px 19px 5px 10px;
	-webkit-border-radius: 4px 4px 0 0 ;
	-moz-border-radius: 4px 4px 0 0 ;
	-ms-border-radius: 4px 4px 0 0 ;
	-o-border-radius: 4px 4px 0 0 ;
	border-radius: 4px 4px 0 0 ;
}
.item_sp .title a:hover{
	color: #e60000;
}
.item_sp .title a .fa{
	color: #d50000;
	margin-right: 3px;
}
.item_sp .item_sp-body{
	padding: 20px 14px;
}
.item_sp p{
	text-align: justify;
}
/*item_sp-large
=============================*/
.item_sp-large .image{
	margin-bottom: 13px;
}
.item_sp-large .item_sp-body{
	padding-bottom: 39px;
}
/*item_sp-small
=============================*/
.item_sp-small{
	margin-bottom: 14px;
}
.item_sp-small .image{
	width: 97px;
	height: 86px;
	float: left;
	margin: 0 14px 0 0;
}
.item_sp-small .image img{
	width: 100%;
	height: 100%;
}
/*------------------------- END: Page Support -------------------------*/


/*------------------------- BEGIN: Page Recruit -------------------------*/
/*parallelogram
=============================*/
.recruit_parallelogram {
    margin: 0 0 0 110px;	
}
.parallelogram{
	position: relative;
	height: 200px;
	width: 345px;
	float: left;      
	margin-bottom: 5px;  
	margin-left: -109px;
	overflow: hidden;
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.parallelogram:first-child {
	margin-left: 9px;
}
.parallelogram-1{
	position: absolute;
	width: 100%;
	height:100%;
	-webkit-transform: rotate(-120deg);
	-moz-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	transform: rotate(-120deg);
}
.parallelogram-2{
	position: absolute;
	width: 100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ccc;
	background-position: center center;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);	
}
.parallelogram a{
	position: absolute;
	top: 0%;
	left: 0;        
	width: 100%;
	height: 100%;
	padding-top: 27%;
	text-align: center;
	font-size: 14px;
	color: #fff;  
	background: #e60000;
	font-size: 18px;
	font-weight: 500;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;		    
}
.parallelogram a:hover{
	background: #e60000 !important;
	opacity: 1 !important;filter: alpha(opacity=100)  !important;
	color: #fff !important;		
}	  
/*------------------------- END: Page Recruit -------------------------*/


/*------------------------- Component -------------------------*/
.title-news {
    margin-bottom: 15px;
}
/* title-main
=============================*/
.title-main{
	font-size: 15px;
	margin-bottom: 15px;	
}
/* s_box
=============================*/
.s_box{
	padding-bottom: 15px;
}
/* sh_home
=============================*/
.sh_home .item .image {
    overflow: hidden;
}
.sh_home .item .caption .title{
	font-size: 12px;
}
/* Support Page
=============================*/

.item_sp-large .item_sp-body {
    padding-bottom: 29px;
}