.honeycombs{position:relative;overflow:hidden;width:100%;text-align:center;}
.honeycombs .inner_span{display:block;height:100%;width:100%;background-color:#f7cd07;font-family:sans-serif;color:#000;}
.honeycombs .inner-text{padding-top:30%;}
.honeycombs .honeycombs-inner-wrapper{display:inline-block;overflow:hidden;width:700px;position:relative;height:1200px;}
.honeycombs .comb{position:absolute;display:inline-block;}
.honeycombs .hex_l,
.honeycombs .hex_r{overflow:hidden;position:absolute;}
.honeycombs .hex_l{visibility:hidden;-moz-transform:rotate(60deg);-ms-transform:rotate(60deg);-o-transform:rotate(60deg);-webkit-transform:rotate(60deg);transform:rotate(60deg);}
.honeycombs .hex_r{visibility:hidden;-moz-transform:rotate(-120deg);-ms-transform:rotate(-120deg);-o-transform:rotate(-120deg);-webkit-transform:rotate(-120deg);transform:rotate(-120deg);}
.honeycombs .hex_inner{display:block;visibility:visible;-moz-transform:rotate(60deg);-ms-transform:rotate(60deg);-o-transform:rotate(60deg);-webkit-transform:rotate(60deg);transform:rotate(60deg);background-position:center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;cursor:pointer;}