@media (min-width:551px){.honeycombs .comb:last-child{left:118px !important;top:268px !important;}
.honeycombs .comb:first-child, .honeycombs .comb:nth-child(4n){left:2px !important;}
.honeycombs .comb:nth-child(3n){left:234px !important;}
}
@media (min-width:768px){#footer{max-width:720px;}
.main_content{width:720px;}
.subfooter .footer-bottom ul{margin:0 0 0 12px;}
.subfooter .footer-bottom .copyright{margin:0 12px 0 0;}
.fix_img{height:156px;}
}
@media (min-width:992px){.container{width:1000px;padding-left:10px;padding-right:10px;}
#footer{max-width:980px;width:100%;margin:0 auto;}
.main_content{width:980px;}
.main_content-body{width:980px;}
.main_content2 .s_banner .image > img{height:60px;}
}
@media (min-width:1200px){.container{width:1010px;padding-left:15px;padding-right:15px;}
.container-1{width:1205px;max-width:1205px;}
}
@media (max-width:1199px){#products .image span{opacity:1;}
.sscare .sscare-tier2{padding-left:66.5px;padding-right:66.5px;}
.innov_tier3 .image > span{width:72%;}
.quality{margin-bottom:20px;}
.subfooter .footer-bottom ul{margin-left:12px;}
.subfooter .footer-bottom .copyright{margin-right:12px;}
.header-body > .container > .pull-right .search{float:left;text-align:left;}
}
@media (max-width:991px){#home.section .main_content{padding-left:0;padding-right:0;}
.img_fixn{min-height:145px;}
#products .image span{opacity:1;}
.subnav-search .subnav{display:block;margin:0 0 3px 0;}
.lang{margin-top:3px;}
.box_video{margin-bottom:10px;}
.item_sp-large{margin-bottom:15px;}
#products .image{max-height:316px;}
.s_intro .row > div:last-child .title-main{margin-top:20px;}
.quality-service .item{height:180px;margin-bottom:20px;}
.quality-service-2 .item{height:auto;}
.ecosystem{margin-top:0;}
.eco_power .cbox{margin-bottom:20px;}
.sscare .sscare-tier2{padding-left:116.5px;padding-right:116.5px;}
.innov_tier3 .image > span{height:80%;margin-top:-18%;width:72%;}
.cbox3 .cbox_body{height:637px;}
.pro-item-sv{padding-bottom:0;}
.pro-item-sv .item{margin-bottom:20px;}
.sb_pro-app .box > .image{width:auto;height:auto;float:none;margin:0 0 15px 0;}
.sb_pro-app .box > .image img{width:auto;height:auto;}
.sb_pro-app .box .box-des{padding-left:0;}
.recruit_parallelogram{margin:0 0 0 75px;}
.parallelogram{width:250px;height:148px;margin-left:-77px;-webkit-transform:rotate(118deg);-moz-transform:rotate(118deg);-o-transform:rotate(118deg);-ms-transform:rotate(118deg);transform:rotate(118deg);}
.parallelogram:first-child{margin-left:4px;}
.parallelogram-1{-webkit-transform:rotate(-118deg);-moz-transform:rotate(-118deg);-o-transform:rotate(-118deg);-ms-transform:rotate(-118deg);transform:rotate(-118deg);}
.parallelogram a{padding:22% 70px 0;}
.innovation .cbox .title-foot{height:40px;line-height:20px;overflow:hidden;}
.title-filter > ul{display:inline-block;float:right;margin-bottom:20px;position:static;}
.box-main{padding:0;}
#products .image span{opacity:1;}
body{background:none;}
.main_content{padding-left:0;padding-right:0;}
.logo, .navbar-custom .navbar-nav, .subfooter .footer-bottom ul{margin-left:0;}
.header-body > .container > .pull-right, .subfooter .footer-bottom .copyright{margin-right:0;}
.header-body > .container > .pull-right{min-width:296px;text-align:right;}
.header-body > .container > .pull-right .search{float:left;text-align:left;}
}
@media (max-width:767px){#footer{width:100%;}
#header.navbar-fixed-top{position:static;}
body{padding-top:0 !important;background:none;}
.header-body{margin-bottom:10px;}
.logo{display:block;float:none;margin:10px 0;text-align:center;width:100%;}
.subnav-search{height:auto;}
.header-body .pull-right{clear:both;float:none !important;margin:0 auto;}
.subnav-search{margin:0;}
.subnav-search .subnav{text-align:center;}
.lang{text-align:center;}
.navbar-custom{padding-top:0;}
.navbar-custom.affix{border-top:3px solid #e60000;}
.navbar-custom .navbar-brand{height:26px;left:0;line-height:inherit;margin:0 auto;padding:0;position:absolute;right:0;top:12px;width:200px;}
.navbar-custom .navbar-brand:hover{color:#e60000;}
.navbar-custom .navbar-brand > img{max-width:200px;}
.navbar-custom .navbar-header{border-top:1px solid #ccc;}
.navbar-custom .navbar-header .search{border-left:1px solid #ccc;float:right;height:50px;text-align:center;width:50px;margin-right:1px;}
.navbar-custom .navbar-toggle{float:left;margin:0;padding:0 15px;border:none;line-height:50px;height:50px;border-right:1px solid #ccc;border-radius:0;}
.navbar-custom .navbar-toggle:focus{background:none;}
.navbar-custom .navbar-header .search input{font-size:14px;font-weight:300;height:34px;padding:6px 30px 6px 6px;}
.navbar-custom .navbar-header .has-feedback > span.fa{font-size:16px;color:#777;font-weight:normal;}
.navbar-custom .navbar-collapse{max-height:304px;overflow-y:auto;border-top:1px solid #ccc;}
.navbar-custom .navbar-nav{margin-left:0;margin-right:0;}
.navbar-custom .navbar-nav li, .navbar-custom .navbar-nav li:first-child{padding:0 15px;padding-right:15px;}
.navbar-custom .navbar-nav > li::after{display:none;}
.navbar-custom .navbar-nav li a{display:block;line-height:35px;padding:0;border-bottom:1px solid #ccc;}
.navbar-custom .navbar-nav li a::before{display:inline-block;content:'';background:url(../images/skins/bullet-main-gray.gif) no-repeat center center;background-size:cover;height:10px;width:10px;margin-right:5px;}
.navbar-custom .navbar-nav li a:hover::before, .navbar-custom .navbar-nav li.active a::before{background:url(../images/skins/bullet-main.gif) no-repeat center center;}
.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li:hover a, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li.active:hover a{border-bottom:1px solid #ccc;}
.navbar-custom .navbar-nav li:last-child a{border-bottom:none;}
.main_content{width:100%;padding:30px 0 10px;}
.main_content::after, .main_content::before{background:#fff none repeat scroll 0 0;}
#footer{position:static;padding:8px 15px 15px;}
.footer-bottom{margin:0 -15px;padding:5px 15px 8px;}
.footer-bottom ul{float:none;margin-bottom:5px;text-align:center;}
.footer-bottom .copyright{float:none;text-align:center;}
#news .new_tier1{padding-right:0;}
#news .new_tier2{padding-left:0;}
#home .s_banner .image{margin-bottom:20px;}
.intro{margin-bottom:20px;}
.recruit_parallelogram{margin-left:0;}
.parallelogram{width:32%;margin:0 2% 2% 0;-webkit-transform:inherit;-moz-transform:inherit;-o-transform:inherit;transform:inherit;}
.parallelogram:first-child{margin-left:0;}
.parallelogram:nth-child(3n){margin-right:0;}
.parallelogram, .parallelogram-1, .parallelogram-2{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
.parallelogram a{padding:28% 20px 0;}
.quality-service .item{height:225px;}
.quality .quality-text, .eco .eco-text{background:none;padding-right:0;}
.sscare .sscare-tier2{padding-left:0;padding-right:0;}
.innovation .cbox .title-foot{height:auto;overflow:inherit;}
.innovation .cbox-item3{height:auto;min-height:inherit;}
.cbox3 .cbox_body{height:auto;}
.sidebar{display:none;}
.primary{margin-left:0;}
.list-title-main{position:static;margin-bottom:10px;}
.sp_skill .row > div > .title{margin-top:20px;}
.sp_skill .row > div:first-child > .title{margin-top:0;}
#header{height:auto;}
#home{padding-bottom:0;}
.title-filter > ul{float:none;}
#home.section .main_content{padding:54px 15px 0;}
#about, #customer, #products, #service, #news, #support, #recruit{padding-top:54px;}
}
@media (max-width:550px){.col-xs-6{width:100%;}
.innov_tier1 .image, .cbox-item3 .image{width:100%;height:auto;float:none;}
.innov_tier3 .image > span{font-size:18px;padding-top:30px;}
.quality-service .item{height:auto;}
.quality-service-2 .item{height:auto;}
.parallelogram{width:49%;margin:0 2% 2% 0;}
.parallelogram:nth-child(3n){margin-right:2%;}
.parallelogram:nth-child(2n){margin-right:0;}
.parallelogram a{padding-top:20%;}
}
@media (max-width:479px){.innov_tier3 .image > span{font-size:18px;padding-top:15px;}
.parallelogram{width:100%;margin:0 0 3%;}
.parallelogram:nth-child(3n){margin-right:0;}
.parallelogram:nth-child(2n){margin-right:0;}
.honeycombs .comb:last-child{top:404px !important;left:118px !important;}
}