.color_red{color:#f00 !important;}
.list-news li{padding-bottom:7px;}
.popover.left{margin-left:-60px;}
.list-news .item .caption{padding:10px 7px 6px 7px;overflow:hidden;}
.list-news .item .title{overflow:visible;}
.faq_list-content .item p strong{font-weight:bold;}
.order_home{display:none;}
.mb7{margin-bottom:5px;}
.mt5{margin-top:5px;}
.pl15{padding-left:15px;}
.textcenter{text-align:center !important;}
.rm_qua{display:block;position:absolute;bottom:5px;right:13px;font-size:11px;}
.quality-service-2 .item .img_item .title a{min-height:81px;}
.ffq{font-size:14px;}
.cbox3 .cbox_body{height:510px;}
.cbox-item3 .image{height:auto;}
.img_social{width:205px;height:130px;}
.content_pro strong{font-weight:bold !important;}
.has-feedback label.sr-only~.form-control-feedback{top:3px;}
.clr{clear:both;}
.mt20{margin-top:20px;}
.item_sp_4{height:138px;overflow:hidden;}
.scroll_kn a{color:#333;}
.minhe{}
.clearclrfix{clear:both;}