.owl-theme-nav .owl-controls .owl-buttons div{position:absolute;color:#e60000;background:none;padding:0;margin:0;font-size:18px;opacity:1;filter:alpha(opacity=100);top:50%;margin-top:-13px;}
.owl-theme-nav .owl-controls.clickable .owl-buttons div:hover{opacity:0.5;filter:alpha(opacity=50);}
.owl-theme-nav .owl-controls .owl-buttons .owl-prev{left:-11px;}
.owl-theme-nav .owl-controls .owl-buttons .owl-next{right:-11px;}
.quality-service-2 .wrapper-owl{margin-left:-7.5px;margin-right:-7.5px;}
.quality-service-2 .item{margin:0 7.5px;}
.sscare2 .wrapper-owl{padding:20px 22px;border:1px solid #e5e5e5;background-image:-moz-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-webkit-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-ms-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);}
.sscare2 .item{padding-left:10px;padding-right:10px;display:block;}
.cs-gallery .owl-theme-nav .owl-controls .owl-buttons > div .fa{font-size:50px;color:#fff;}
.cs-gallery .owl-theme-nav .owl-controls .owl-buttons > div .fa:hover{color:#e60000;opacity:1;filter:alpha(opacity=100);}
.cs-gallery .owl-theme-nav .owl-controls .owl-buttons .owl-next{right:18px;}
.cs-gallery .owl-theme-nav .owl-controls .owl-buttons .owl-prev{left:18px;}
.cs-gallery .owl-theme .owl-controls{margin-top:15px;}
.cs-gallery .wrapper-sync4{margin-left:-7.5px;margin-right:-7.5px;}
.cs-gallery #sync4 .item{display:block;margin:0 7.5px;max-height:126px;overflow:hidden;}
.cs-gallery #sync4 .item > img{max-width:100%;min-height:126px;opacity:0.7;filter:alpha(opacity=70);}
.cs-gallery #sync4 .synced2 > .item > img, .cs-gallery #sync4 .item > img:hover{opacity:1;filter:alpha(opacity=100);}