/*------------------------- custom -------------------------*/
body{
	position: relative;
	padding-top: 80px;
}
.main_content{
	float: left;
}
#footer{
	padding: 20px 0 8px !important;
}
/*------------------------- Fix  follow Width -------------------------*/
.quality-service .item{
	height: 225px;
}
.quality-service-2 .item{
	height: 325px;
}
.cbox .cbox-item-caption{
	margin-bottom: 21px;
}