@media (min-width:922px){body{overflow:inherit;}
}
#home{padding-bottom:0;}
#footer{position:static;padding-bottom:15px;}
.main_content{padding-bottom:0;}
.title-moblie{margin-bottom:15px;}
@media (max-width:767px){.title-moblie{padding:20px 0 15px;}
.main_content{padding:0;}
}