@import url('base.css');@import url('plugins.css');body{font-family:Arial, sans-serif;font-size:12px;color:#333;background:#bcbcbc;background:-moz-linear-gradient(left, #ffffff 0%, #bcbcbc 16%, #bcbcbc 84%, #ffffff 100%);background:-webkit-linear-gradient(left, #ffffff 0%,#bcbcbc 16%,#bcbcbc 84%,#ffffff 100%);background:linear-gradient(to right, #ffffff 0%,#bcbcbc 16%,#bcbcbc 84%,#ffffff 100%);*/}
a{color:#666;}
a:hover{color:#d50000;}
.icon_blank{padding-left:2px;vertical-align:baseline;}
a.arr, ul.arr a{display:inline-block;padding-left:9px;background:url(../images/skins/arw_red.gif) no-repeat 0 0.4em;text-decoration:none;}
a.arr_sq,
.arr_sq,
.arr_sq:visited{display:inline-block;padding-left:16px;background:url(../images/skins/bullet-main.gif) no-repeat 0 0.1em;text-decoration:none;}
a.arr_sqg,
.arr_sqg,
.arr_sqg:visited{display:inline-block;padding-left:16px;background:url(../images/skins/bullet-main-gray.gif) no-repeat 0 0.1em;text-decoration:none;}
a.arr_sqg:hover, .active a.arr_sqg,
.active .arr_sqg:hover{background:url(../images/skins/bullet-main.gif) no-repeat 0 0.1em;}
ul.arr span{display:inline-block;background:url(../images/skins/arw_red.gif) no-repeat 0 0.4em;text-indent:9px;}
.indent_arr{display:inline-block;padding-left:9px;}
a.arrc, span.arrc{display:inline-block;padding-left:14px;background:url(../images/skins/arr_red_circle.gif) no-repeat 0 0.2em;text-decoration:none;}
span.arrc{width:11px;height:11px;background-position:0 0;}
a.arr_sqgr,
.arr_sqgr,
.arr_sqgr:visited{display:inline-block;padding-left:16px;background:url(../images/skins/bullet-main-green.gif) no-repeat 0 0.1em;text-decoration:none;}
a.no_arr_sq,
.no_arr_sq,
.no_arr_sq:visited{display:inline-block;padding-left:16px;text-decoration:none;}
.no_arr_sq:hover{text-decoration:underline;}
.container{max-width:1010px;}
.row4{margin-left:-2px;margin-right:-2px;}
.row4 > div, .row4 > li{padding-left:2px;padding-right:2px;}
.row22{margin-left:-11px;margin-right:-11px;}
.row22 > div, .row22 > li{padding-left:11px;padding-right:11px;}
.breadcrumb-container{background-color:none;}
.breadcrumb > li > a,
.breadcrumb > li.active,
.breadcrumb > li + li:before{color:#888;}
.breadcrumb > li, .breadcrumb > li > a{text-transform:capitalize;}
.breadcrumb > li > a:hover{color:#e60000;}
.breadcrumb > li > a{font-weight:normal;}
.pagination{margin:0;}
.pagination > li{display:inline-block;margin-left:2px;}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span,
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.pagination > li > a{font-weight:500;}
.pagination > li > a, .pagination > li > span{color:#666666;background-image:-moz-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-webkit-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-ms-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background:#e60000;border-color:#e60000;color:#fff;}
.carousel-control .fa[class*="-left"], .carousel-control .fa[class*="-right"]{font-size:60px;height:43px;margin-top:-35px;width:43px;}
.carousel-control .fa[class*="-left"], .carousel-control .fa[class*="-right"]{display:inline-block;zoom:1;*display:inline;position:absolute;top:50%;z-index:5;}
.carousel-control .fa[class*="-left"]{left:50%;margin-left:-15px;}
.carousel-control .fa[class*="-right"]{margin-right:-15px;right:50%;}
.carousel-inner > .item > a > img{margin:0 auto;width:100%;}
.tooltip-inner{background-color:rgba(43, 159, 218,.95);text-shadow:0 1px 0 #777;}
.tooltip.top .tooltip-arrow{border-top-color:rgba(43, 159, 218,.95);}
.tooltip.right .tooltip-arrow{border-right-color:rgba(43, 159, 218,.95);}
.tooltip.bottom .tooltip-arrow{border-bottom-color:rgba(43, 159, 218,.95);}
.tooltip.left .tooltip-arrow{border-left-color:rgba(43, 159, 218,.95);}
.popover{background:transparent none repeat scroll 0 0;border:medium none;border-radius:0;box-shadow:none;}
.popover-content{border-radius:0 !important;padding:0;}
.popover.left > .arrow{right:-10px;}
.popover > .arrow{border-left-color:#f0f0f0 !important;border-right-color:#f0f0f0 !important;}
.popover.left > .arrow::after{border-left-color:#f0f0f0;}
.wrapper-plink{background:#f7f7f7;padding:29px 10px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.plink{margin:0 0 12px;}
.plink br{display:none;}
.plink a{display:block;line-height:23px;color:#333;font-weight:500;}
.plink a:hover{color:#e60000;}
.plink a::before{display:inline-block;content:'';background:url(../images/skins/bullet-main.gif) no-repeat center center;background-size:cover;height:10px;width:10px;margin-right:5px;}
.s_box{padding-bottom:20px;}
.sb_banner{margin-bottom:30px;}
.list-title-news{overflow:hidden;width:100%;}
.list-title-news li{float:left;margin:0;}
.list-title-news li{background:#ddd;padding:0 20px 0 5px;float:left;text-decoration:none;color:#444;text-shadow:0 1px 0 rgba(255,255,255,.5);position:relative;}
.list-title-news li:first-child{padding-left:15px;}
.list-title-news li:last-child{padding-right:15px;}
.list-title-news li:hover, .list-title-news li.active{background:#e60000;}
.list-title-news li::before,
.list-title-news li::after{content:'';position:absolute;top:0;bottom:0;width:1em;background:#ddd;-ms-transform:skew(-25deg);-webkit-transform:skew(-25deg);transform:skew(-25deg);}
.list-title-news li::before{left:-.5em;}
.list-title-news li:hover::before, .list-title-news li.active::before{background:#e60000;}
.list-title-news li::after{right:-.5em;}
.list-title-news li:hover::after, .list-title-news li.active::after{background:#e60000;}
.list-title-news li:last-child::after{background:none;}
.list-title-news li:hover a, .list-title-news li.active a{color:#fff;}
.sh_home .item{margin-bottom:15px;}
.sh_home .item:hover img{opacity:0.5;filter:alpha(opacity=50);}
.sh_home .item .image{position:relative;}
.sh_home .item .image .img_hover{position:absolute;width:60px;height:60px;line-height:60px;text-align:center;right:14px;top:14px;background:rgba(255, 255, 255, 0.8);border:3px solid rgba(255, 255, 255, 0.5);-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;-webkit-transform:translateY(0%) translateX(0%) scale(1);transform:translateY(0%) translateX(0%) scale(1);-webkit-transition:all 2s;-moz-transition:all 2s;-ms-transition:all 2s;-o-transition:all 2s;transition:all 2s;}
.sh_home .item .image .img_hover img{display:inline-block;line-height:35px;margin:-7px auto 0;max-height:35px;max-width:35px;width:auto;-webkit-transition:all 2s;-moz-transition:all 2s;-ms-transition:all 2s;-o-transition:all 2s;transition:all 2s;}
.sh_home .item:hover .image .img_hover{-webkit-transform:translateY(0%) translateX(0%) scale(1.5);transform:translateY(0%) translateX(0%) scale(1.5);top:50%;right:50%;margin:-15px -15px 0 0;}
.sh_home .item:hover .image .img_hover img{margin:-10.5px auto 0;}
#customer.sh_home .item{margin-bottom:10px;}
.sh_home .item .caption{background:#e1e1e1;height:30px;line-height:30px;overflow:hidden;}
.sh_home .item .caption .title{font-size:15px;font-weight:500;}
.sh_home .item .caption .title a{color:#333333;display:block;line-height:30px;padding-left:10px;}
.sh_home .item .caption .title a .fa{font-size:13px;color:#e60000;margin-right:9px;}
.font-2{font-family:Arial, sans-serif;font-weight:normal;}
.aside_service, .aside_menu{float:left;padding-top:16px;position:relative;width:97.5px;z-index:2;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.aside_menu{padding-left:15px;}
.aside_service a, .aside_menu a{outline:none;}
.aside_service > ul > li{margin-bottom:4px;}
.aside_service > ul > li > a, .aside_menu > ul > li > a{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;color:#333;font-weight:500;display:inline-block;font-size:12px;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
.aside_service > ul > li > a{width:84px;height:84px;line-height:14px;padding:35px 5px 0;background:url(../images/btn-service_bg.png) no-repeat center center;}
.aside_service > ul > li a:hover, .aside_service > ul > li.active a{background:url(../images/btn-service_bg-hover.png) no-repeat center center;color:#fff;}
.aside_service > ul > li.list_menu-1 > a, .aside_service > ul > li.list_menu-2 > a, .aside_service > ul > li.list_menu-4 > a{padding:28px 5px 0;}
#nav_menu{width:82px;height:299px;padding:11px 7px 11px 6px;background:url(../images/aside_menu_bg.png) no-repeat center center;text-align:center;font-size:13px;font-weight:300;}
#nav_menu .icon-nav_menu{background:url(../images/icon-side.jpg) no-repeat top left;height:107px;font-size:33px;color:#ffd200;padding:10px 10px 0;}
#arrow-sidebar{display:inline;float:left;height:27px;margin-right:2px;margin-top:8px;overflow:hidden;position:relative;text-align:left;width:21px;}
#arrow-sidebar .fa{margin:0;position:absolute;top:0;}
#nav_menu .icon-nav_menu > span{float:right;}
#arrow-sidebar.active .fa-angle-double-up{animation:ScrolltoTop .8s linear infinite;-webkit-animation:ScrolltoTop .8s linear infinite;}
@keyframes ScrolltoTop{0%{bottom:-50px;}
100%{top:-50px}
}
@-webkit-keyframes ScrolltoTop{0%{bottom:-50px;}
100%{top:-50px;}
}
#arrow-sidebar.active .fa-angle-double-down{animation:ScrolltoBottom .8s linear infinite;-webkit-animation:ScrolltoBottom .8s linear infinite;}
@keyframes ScrolltoBottom{0%{top:-50px;}
100%{:bottom -50px}
}
@-webkit-keyframes ScrolltoBottom{0%{top:-50px;}
100%{:bottom -50px}
}
#nav_menu > ul{margin-top:7px;}
#nav_menu > ul > li{text-align:center;margin-bottom:6px;float:right;}
#nav_menu > ul > li:nth-child(2n){text-align:left;}
#nav_menu > ul > li:nth-child(2n+1){text-align:right;}
#nav_menu > ul > li:first-child{text-align:center;}
#nav_menu > ul > li > a{background:url(../images/btn-menu_bg.png) no-repeat center center;color:#fff;display:inline-block;height:27px;line-height:27px;padding:0;text-align:center;width:27px;}
#nav_menu > ul > li a:hover, #nav_menu > ul > li.active a{background:url(../images/btn-menu_bg-hover.png) no-repeat center center;color:#fcdc44;}
#nav_menu.affix, #nav_service.affix{top:96px;width:97.5px;}
#nav_menu.affix{width:82px;}
#nav_menu.affix-bottom, #nav_service.affix-bottom{position:absolute;}
.aside_menu img{display:block;margin:0 auto;}
.sh_service .item .title a{display:inline-block;line-height:23px;margin-top:-3px;max-height:46px;overflow:hidden;vertical-align:middle;}
.main_content{height:100%;margin:0 auto;padding:20px 12px 0;left:0;right:0;background:#fff;}
.title-main{border-bottom:1px solid #f1f1f1;margin-bottom:18px;font-size:16px;color:#333333;font-weight:500;}
.title-main a, .title-main > span{color:#333333;border-bottom:2px solid #d50000;display:inline-block;font-weight:bold;margin-bottom:-1px;padding-bottom:1px;}
.icon_link::after{display:inline-block;content:'';background:url(../images/icon-zoom.png) no-repeat;width:12px;height:11px;margin-left:5px;}
.btn-main{background-color:#2B9FDA;border-color:#30A1D1;}
.btn-main:hover{background-color:#2891C7;}
.input-small{height:17px;line-height:17px;padding:0 0 0 3px;font-size:10px;border:1px solid #7f7f7f;color:#666565;}
.input-small::-webkit-input-placeholder{color:#666565;}
.input-small::-moz-placeholder{color:#666565;}
.input-small:-ms-input-placeholder{color:#666565;}
#header{background:#fff;border-top:3px solid #d50000;}
.header-body{font-family:Arial, sans-serif;font-size:11px;}
.logo{margin-top:10px;margin-left:12px;}
.logo img{max-width:100%;}
.header-body > .container > .pull-right{margin:17px 12px 0 0;}
.subnav-search{height:17px;line-height:17px;}
.subnav-search .search .input-small{max-width:140px;}
.subnav-search .subnav, .subnav-search .search{display:inline-block;margin:0;}
.subnav-search .subnav{font-size:11px;margin:-9px 7px 0 0;vertical-align:middle;}
.subnav-search .subnav li{padding:0 0 0 8px;}
.subnav-search .subnav li:first-child{padding:0;}
.subnav-search .has-feedback > span.fa{height:auto;right:5px;top:3px !important;width:auto;}
.lang{text-align:right;margin:7px 0 0 0;}
.lang > li.active > a{color:#e60000}
.navbar-custom{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:500;height:auto;min-height:inherit;margin:0;padding:11px 0 0 0;min-height:auto;border:none;border-bottom:1px solid #bbbbbb;top:0;background:#fff;width:100%;z-index:1000;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.navbar-custom.affix{-webkit-box-shadow:0 5px 5px rgba(0,0,0,.1);box-shadow:0 5px 5px rgba(0,0,0,.1);}
.navbar-custom .navbar-collapse{padding-left:0;}
.navbar-custom .navbar-nav{margin:0 12px;}
.navbar-custom .navbar-nav li{padding:0 9px;}
.navbar-custom .navbar-nav li:first-child{padding-left:0;}
.navbar-custom .navbar-nav > li:after{display:block;content:"";width:1px;height:9px;position:absolute;top:0;right:0;background:#bbb;}
.navbar-custom .navbar-nav > li:last-child:after{width:0;background:none;}
.navbar-custom .navbar-brand, .navbar-custom .navbar-nav li a{padding:0 0 5px;line-height:9px;border-bottom:2px solid transparent;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li:hover a, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li.active:hover a{color:#e60000;border-bottom:2px solid #d50000;background:none;outline:none;}
#footer{font-size:12px;line-height:12px;background:#fff;padding:8px 12px;}
.footer-body{border-top:1px solid #d50000;padding:5px 0;}
.footer-body address{line-height:15px;color:#666666;margin-bottom:0px;}
.title-foot{font-weight:700;font-size:1em;margin-bottom:5px;}
.title-foot .fa{background-position:0 1px;}
.footer-bottom{border-top:1px solid #d6d6d6;margin:0 -12px;padding:5px 12px 8px;font-size:11px;}
.subfooter .footer-bottom{margin:0;padding:5px 0 8px;}
.footer-bottom > ul{float:left;width:100%;}
.footer-bottom > ul > li{border-right:1px solid #838383;}
.footer-bottom > ul > li:last-child{border-right:none;}
.footer-bottom > ul > li > a{color:#333;}
.footer-bottom > ul > li > a:hover{color:#e60000;}
.footer-bottom .copyright{float:right;font-size:12px;}
.footer-bottom p{margin:0;}
.subfooter .footer-bottom ul > li:first-child{padding-left:0;}
#news .new_tier1{padding-right:83px;}
#news .new_tier2{padding-left:83px;}
.title-news{position:relative;float:right;height:30px;line-height:30px;margin-bottom:30px;}
.title-news_bg{position:absolute;top:0;left:0;height:100%;width:100%;background:url(../images/repeat-bg.png) repeat top left;z-index:1;}
.title-news .list-title-news li a{position:relative;z-index:2;font-weight:bold;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
.quality{background:url(../images/sl1/sl1-content_bg.png) no-repeat right 26px;}
.quality p{text-align:justify;}
.quality p.italic{font-weight:500;}
.quality .quality-text{background:url(../images/sl1/sl1-content.png) no-repeat top right;padding-right:297px;margin-top:10px;padding-bottom:20px;min-height:350px;}
.quality .item{border:1px solid #e5e5e5;background-image:-moz-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-webkit-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-ms-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);}
.quality-service .item{height:280px;overflow:hidden;padding:8px 8px 16px 8px;}
.quality-service .item p{margin-bottom:0;}
.quality-service .item .title{color:#444;font-size:15px;font-weight:700;margin-bottom:15px;}
.quality-service .item .light-height{margin-bottom:15px;}
.quality-service .item ul li{line-height:15px;}
.ecosystem{margin-top:20px;}
.ecosystem h3{font-size:15px;font-weight:600;color:#444444;margin-bottom:10px;}
.ecosystem .quality-avatar{margin-top:15px;text-align:center;}
.quality-service-2{margin-top:30px;}
.quality-service-2 .item{height:350px;padding:8px 8px 16px;}
.quality-service-2 .item .img_item a{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
.quality-service-2 .item .img_item > a{border-bottom:2px solid #0c8543;display:block;height:95px;position:relative;text-align:center;width:100%;}
.quality-service-2 .item .img_item > a > span{background-repeat:no-repeat;background-position:center bottom;bottom:14px;display:inline-block;height:100%;left:0;margin:0 auto;max-height:79px;position:absolute;right:0;}
.quality-service-2 .item .img_item .title{font-size:13px;font-style:italic;font-weight:bold;margin-bottom:10px;padding:0 0 0 5px;}
.quality-service-2 .item .img_item .title a{color:#666666;display:block;padding-top:11px;}
.quality-service-2 .item .img_item:hover > a{border-bottom:2px solid #89c769;}
.quality-service-2 .item .img_item > a > span.img_item-pro{background-image:url(../images/sl1/sl1-icon-1.png);}
.quality-service-2 .item .img_item:hover > a > span.img_item-pro{background-image:url(../images/sl1/sl1-icon-1-hover.png);}
.quality-service-2 .item .img_item > a > span.img_item-faco{background-image:url(../images/sl1/sl1-icon-2.png);}
.quality-service-2 .item .img_item:hover > a > span.img_item-faco{background-image:url(../images/sl1/sl1-icon-2-hover.png);}
.quality-service-2 .item .img_item > a > span.img_item-logic{background-image:url(../images/sl1/sl1-icon-3.png);}
.quality-service-2 .item .img_item:hover > a > span.img_item-logic{background-image:url(../images/sl1/sl1-icon-3-hover.png);}
.quality-service-2 .item .img_item > a > span.img_item-install{background-image:url(../images/sl1/sl1-icon-4.png);}
.quality-service-2 .item .img_item:hover > a > span.img_item-install{background-image:url(../images/sl1/sl1-icon-4-hover.png);}
.quality-service-2 .item .img_item > a > span.img_item-moder{background-image:url(../images/sl1/sl1-icon-5.png);}
.quality-service-2 .item .img_item:hover > a > span.img_item-moder{background-image:url(../images/sl1/sl1-icon-5-hover.png);}
.quality-service-2 .item .img_item:hover .title a{color:#89c769;}
.quality-service-2 .item p{padding:0 0 0 1px;margin-bottom:0;text-align:justify;}
.eco p{text-align:justify;}
.eco .title-main a, .eco .title-main > span{border-bottom:2px solid #32903f;}
.eco .title-slogan{font-size:15px;font-weight:700;font-style:italic;color:#32903f;text-transform:uppercase;}
.eco .eco-text{background:url(../images/sl2/sl2-content-1.png) no-repeat top right;margin-top:10px;padding:0px 226px 15px 0;text-align:justify;}
.eco-action{margin-bottom:5px;}
.eco-action .item{position:relative;margin-bottom:15px;}
.eco-action .item .image{max-height:113px;overflow:hidden;}
.eco-action .item .image img{min-height:113px;}
.eco-action .item .caption{position:absolute;top:0;left:0;padding:10px;color:#fff;z-index:2;padding-right:45px;}
.eco-action .item .caption .title{font-size:14px;font-weight:500;display:inline-block;border-bottom:1px solid #fff;padding:0 9px 0 1px;margin-bottom:10px;}
.eco-action .item .icon_linkc{position:absolute;bottom:14px;right:13px;background:url(../images/icon-zoom-2.png) no-repeat center center;width:17px;height:15px;z-index:2;}
.eco-action .item .wrapper-link, .eco-action .item .link-full{position:absolute;top:0;left:0;width:100%;height:100%;display:block;}
.eco-action .item .wrapper-link{background:rgba(0,0,0,0.1);z-index:1;}
.eco-action .item .link-full{z-index:3;text-indent:-999999px;}
.eco .eco_power .title-slogan{margin-bottom:15px;}
.cbox{position:relative;font-size:13px;color:#444;border-top:5px solid #32903f;background-image:-moz-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-webkit-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-ms-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);}
.cbox .wtop{position:absolute;top:0;left:0;height:74px;width:100%;background-image:-moz-linear-gradient(-90deg, rgb(240,240,240) 0%, rgba(255,255,255,0) 100%);background-image:-webkit-linear-gradient(-90deg, rgb(240,240,240) 0%, rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(-90deg, rgb(240,240,240) 0%, rgba(255,255,255,0) 100%);}
.cbox .cbox_body{border:1px solid #e5e5e5;border-top:none;padding:15px;position:relative;min-height:100px;}
.cbox .cbox_body::after{background-image:-moz-linear-gradient(-90deg, rgb(169,169,169) 0%, rgba(255,255,255,0) 100%);background-image:-webkit-linear-gradient(-90deg, rgb(169,169,169) 0%, rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(-90deg, rgb(169,169,169) 0%, rgba(255,255,255,0) 100%);display:inline-block;content:'';width:2px;height:100%;position:absolute;top:0;right:-1px;}
.cbox .cbox_body::before{background-image:-moz-linear-gradient(-90deg, rgb(169,169,169) 0%, rgba(255,255,255,0) 100%);background-image:-webkit-linear-gradient(-90deg, rgb(169,169,169) 0%, rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(-90deg, rgb(169,169,169) 0%, rgba(255,255,255,0) 100%);display:inline-block;content:'';width:2px;height:100%;position:absolute;top:0;left:-1px;}
.cbox .title-foot{font-size:15px;line-height:15px;margin-bottom:15px;}
.cbox .title-foot a{color:#444;position:relative;padding-left:17px;display:inline-block;font-size:15px;background-position:0 1px;}
.cbox .title-foot a:hover{color:#32903f;}
.cbox .title-foot a i{background:#32903f;float:left;width:10px;height:10px;position:absolute;left:0;top:5px;}
.cbox .cbox-item1{color:#444;min-height:123px;}
.cbox .cbox-item1 .image{float:left;width:96px;height:123px;margin-right:20px;}
.cbox .cbox-item1 .caption{padding-left:116px;}
.cbox .highlight{color:#32903f;font-size:13px;margin-bottom:15px;}
.cbox .highlight a{color:#32903f;}
.cbox .cbox-item-caption{font-style:italic;margin-top:15px;width:115px;margin-bottom:30px;}
.cbox .cbox-item2 .image{margin-bottom:10px;}
.cbox .cbox-item2 .image img{width:auto;height:105px;margin:0 auto;}
.cbox .cbox-item2 p{margin-bottom:0;}
.cbox2{border:1px solid #e5e5e5;padding:14px;margin-bottom:15px;background-image:-moz-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-webkit-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-ms-linear-gradient(0deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);}
.cbox2 .image{margin-bottom:10px;}
.cbox2 .caption .title{font-size:15px;font-weight:500;color:#333;margin-bottom:10px;}
.cbox2 .caption .title a{color:#333;}
.cbox2 .caption p{text-align:justify;margin:0;}
.sscare .sscare-tier1 .image{margin-bottom:10px;}
.sscare .sscare-tier2{padding-left:86px;padding-right:86px;}
.rules{margin-bottom:15px;}
.rules .title{background:#e1e1e1;color:#fff;font-size:13px;font-weight:500;height:35px;line-height:35px;position:relative;text-align:center;}
.rules .title a{color:#333;display:inline-block;line-height:16px;margin-top:-3px;max-height:29px;overflow:hidden;vertical-align:middle;padding:0 10px;}
.rules .title a:hover{color:#e60000;}
.sscare2 .item .image{margin-bottom:15px;}
.sscare2 .item .title{font-size:13px;font-weight:500;}
.cbox3 .cbox_body{height:494px;overflow:hidden;}
.innov_tier1 .image{float:left;width:293px;height:178px;margin:0 15px 10px 0;overflow:hidden;}
.innov_tier1 .innov_desc p{text-align:justify;}
.innov_slogan{font-size:15px;font-weight:bold;text-transform:capitalize;line-height:20px;text-align:center;margin-top:15px;clear:both;}
.innov_tier2{margin:25px 0 0;}
.innovation .cbox{margin-bottom:14px;border-top:5px solid #d50000;background-image:-moz-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-webkit-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-ms-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);}
.innovation .cbox .title-foot{font-weight:normal;margin-right:-9px;}
.innovation .cbox .title-foot a{color:#333;}
.innovation .cbox .title-foot a:hover{color:#e60000;}
.cbox-item3 .image{float:left;width:198px;height:144px;margin:0 15px 8px 0;}
.cbox-item3 p{text-align:justify;}
.innov_tier3 .image{position:relative;}
.innov_tier3 .image > span{position:absolute;top:50%;left:0;right:0;margin:-100px auto 0;width:634px;height:199px;text-align:center;color:#fff;font-size:28px;font-weight:bold;text-transform:uppercase;background:rgba(211,1,0,0.8);padding-top:60px;}
.innov_tier3 .image:hover > span{background:rgba(211,1,0,1);}
.box-main{max-width:980px;padding:0 12px;}
.sidebar{width:200px;float:left;margin-top:-34px;position:relative;}
.primary{overflow:hidden;margin-left:230px;}
.wrapper-box_question{background:#fff;padding:4px;border:1px solid #d3d9e0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-ms-border-radius:4px 4px 0 0;-o-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.box_question{background:#e60000;padding:11px 13px 13px;color:#fff;}
.box_question .title{font-size:15px;font-weight:700;border-bottom:1px solid #fff;margin-bottom:10px;}
.box_question .title a{color:#fff;text-transform:capitalize;}
.box_question p{font-size:13px;font-weight:normal;}
.box_question .btn-default{border:1px solid #bc0101;width:100%;color:#e60000;font-size:15px;font-weight:normal;}
.box_question .btn-default .fa{font-size:13px;vertical-align:2px;}
.submenu{margin:19px 0 20px;}
.submenu .title{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;font-size:16px;font-weight:bold;color:#333;padding:9px 0;text-transform:capitalize;}
.submenu > ul{border-top:1px solid #e5e5e5;margin-top:3px;}
.submenu ul > li > a{border-bottom:1px solid #e5e5e5;display:block;font-weight:bold;padding:8px 0 8px 16px;text-transform:capitalize;display:block;width:100%;}
.submenu > ul > li > a, .submenu > ul > li.active > a, .submenu > ul > li > a:hover, .submenu > ul > li.active > a:hover{background-position:0 9px !important;}
.submenu > ul > li > ul > li > a{background-position:0 13px;padding-left:10px;}
.submenu ul > li > a:hover, .submenu ul > li.active > a{color:#e60000;}
.submenu2 .title{background:#e60000 none repeat scroll 0 0;color:#fff;padding:0;}
.submenu2 .title a{color:#fff;display:block;padding:9px 0 9px 15px;}
.submenu2 > ul > li > ul{border-bottom:1px solid #e5e5e5;padding-bottom:5px;}
.submenu2 > ul > li:last-child > ul{border-bottom:medium none;}
.submenu2 ul > li > a{color:#666 !important;font-size:13px;}
.submenu2 ul > li > a:hover{color:#e60000 !important;}
.submenu2 > ul > li > a{font-size:16px;font-weight:500;}
.submenu2 > ul > li > a, .submenu2 > ul > li.active > a, .submenu2 > ul > li > a:hover, .submenu2 > ul > li.active > a:hover{background-position:0 12px !important;}
.slide-banner{margin-bottom:20px;}
.slide-banner > .image.image2{width:100%;border:1px solid #e7e7e7;}
.slide-banner > p{text-align:center;margin:13px 0 0 0;font-size:13px;font-weight:500;}
.slide-banner > p > a > img{margin-right:7px;}
.subfooter{margin-top:30px;}
.list-news .item{margin-bottom:19px;}
.list-news .item .caption{padding:10px 12px 6px 12px;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;background-image:-moz-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-webkit-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-ms-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);}
.list-news .item .title{font-size:14px;line-height:17px;font-weight:bold;height:35px;overflow:hidden;margin-bottom:10px;}
.list-news .item .title a{color:#333333;}
.list-news .item .title a:hover{color:#e60000;}
.list-news .item p{margin-bottom:0;text-align:justify;}
.primary .title-news{margin-bottom:0;}
.faq_list .highlight{background:#f2f2f2;border:1px solid #e5e5e5;padding:16px 18px;font-style:italic;text-align:justify;margin-bottom:30px;}
.faq_list-content .item{margin-bottom:20px;line-height:17px;text-align:justify;}
.faq_list-content .item .title{font-size:14px;font-weight:500;}
.faq_list-content .item p strong{font-weight:500;}
.form-faq{margin-top:10px;max-width:636px;}
.form-faq .note{margin-bottom:20px;font-weight:500;}
.form-faq .form-group{margin-bottom:20px;}
.form-faq .control-label{color:#666666;font-size:14px;font-weight:normal;text-align:left !important;}
.form-faq .control-label .fa{color:#e60000;}
.form-faq .input-list{display:inline-block;max-width:174px;margin-right:6px;float:left;}
.btn-main, .btn-main:hover{background:#e60000;border:1px solid #e60000;color:#fff;}
.title-main-tab{position:relative;}
.list-title-main{position:absolute;right:0;top:0;}
.list-title-main > li{border-right:1px solid #333;color:#333333;line-height:14px;}
.list-title-main > li > a{color:#333;font-weight:500;}
.list-title-main > li > a:hover{color:#e60000;}
.list-title-main > li:last-child{border-right:medium none;padding:0;}
.sp_skill .title{color:#666666;font-size:16px;font-weight:500;margin-bottom:20px;background-position:0 3px;}
.sp_skill ul.arr li{padding:10px 0;border-bottom:1px solid #f1f1f1;}
.sp_skill ul.arr li a{background-position:0 7px;font-size:14px;font-weight:normal;}
.sp_skill ul.arr li a strong{font-weight:300;color:#2072b8;}
.sp_skill ul.arr li a img{vertical-align:-2px;}
.box_map{line-height:17px;padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #f1f1f1;}
.box_map:last-child{margin-bottom:0;padding-bottom:0;border:none;}
.box_map .title{font-weight:500;font-size:14px;}
.box_map address{margin-bottom:0;}
.box_map address a.arr{color:#2072b8;background-position:0 5px;}
.box_map .modal-content{border-radius:0;}
.info-point p{margin-bottom:20px;}
.info-point .highlight{font-weight:normal;}
.info-point a{color:#e60000;}
.product p{margin-bottom:15px;line-height:17px;}
.product strong{font-weight:500;}
.pro-des{line-height:17px;}
.pro-des strong{font-weight:500;font-size:14px;color:#e60000;}
.pro-item-sv .item{border:1px solid #e5e5e5;padding:11px;text-align:center;}
.pro-item-sv .item > img{margin-bottom:5px;}
.pro-item-sv .item .caption{font-size:13px;}
.pro-item-sv .item .caption{height:34px;overflow:hidden;}
.pro-info{}
.pro-info > .image{margin-bottom:20px;}
.pro-box{border:1px solid #e5e5e5;padding:10px 12px;background-image:-moz-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-webkit-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);background-image:-ms-linear-gradient(-90deg, rgb(240,240,240) 0%, rgb(255,255,255) 100%);}
.pro-info .pro-box p:last-child{margin-bottom:0;}
.sb_pro-app .box > .image{float:left;width:382px;height:285px;margin:0 30px 0 0;}
.sb_pro-app .box .box-des{padding-left:412px;}
.sb_pro-app .box .box-des p strong{font-weight:500;}
.sb-catalo .image, .sb-catalo .image img{width:auto;}
.recruit-accordion .panel-group .panel + .panel{margin-top:1px;}
.recruit-accordion .panel{border:none;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.recruit-accordion .panel-heading{padding:0;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.recruit-accordion .panel-title{position:relative;font-size:14px;font-weight:normal;padding:0;background:#e2e2e2;}
.recruit-accordion .panel-title > a{display:block;padding:10px 110px 10px 31px;background-position:14px 12px;}
.recruit-accordion .panel-title > a .fa{color:#e60000;font-size:13px;position:absolute;right:87px;top:11px;}
.recruit-accordion .panel-title > span{position:absolute;right:10px;top:10px;font-size:14px;font-weight:300;}
.recruit-accordion .panel-title > span a{color:#e60000;}
.recruit-accordion .panel-title > span a:hover{text-decoration:underline;}
.recruit-accordion .panel-title > span a:focus{outline:none;}
.recruit-accordion .panel-body{background:#f9f9f9;line-height:17px;padding:15px 32px;}
.recruit-accordion .panel-body h3{font-size:14px;font-weight:500;}
.recruit-accordion .panel-body p{margin-bottom:0;}
.title-filter > ul{background:#f0f0f0 url("../images/repeat-bg.png") repeat scroll left top;height:auto;padding:5px 10px;position:absolute;right:0;top:-6px;}
.title-filter{position:relative;}
.title-filter > ul > li > a{font-size:13px;font-weight:normal;}
.title-filter > ul > li{border-right:1px solid #333333;line-height:13px;padding:0 4px;}
.title-filter > ul > li:last-child{border-right:medium none;padding-right:0;}
.custom-gallery .image-large{margin-bottom:15px;}
.text-red{color:#e60000 !important;}
.bold{font-weight:bold;}
.scroll_kn{height:460px;overflow-y:auto;}
.submenu ul li{position:relative;}
.ulsub{display:none;}
.ulsub2{}
.ulsub2 li{}
.ulsub2 li a{padding:8px 0px !important;background-position-x:10px;padding-left:20px !important;background-position-y:10px;}
.bold > a{font-weight:bold !important;}
.indicator{position:absolute;right:0;top:9px;width:70px;color:#ccc;height:30px;font-size:20px;cursor:pointer;text-align:right;}
.content_404{font-size:14px;}
.content_404 span.h1{font-size:21px;}
.content_404 p{line-height:23px;}
.article-content{color:#333;}
.w500{width:500px !important;}
#page_title_s{margin:0.5em 0 0.5em;padding:0;border-bottom:none;color:#db0000;font-size:20pt;font-weight:bold;}
.buttonsearch{background:transparent none repeat scroll 0 0;border:0 none;height:15px;position:absolute;right:0;top:-1px;}
.buttonsearch i.fa{font-size:12px !important;width:auto !important;line-height:0 !important;}
.error{border:1px solid #f00 !important;}
.search i.fa{color:#868686;cursor:pointer;font-size:16px;line-height:50px;width:50px;z-index:99;}
.search i.fa-times{font-size:21px;z-index:100;display:none;}
.search-field{width:100%;height:115px;background:rgba(230, 0, 0, 0.5);position:absolute;padding:0;margin:0;top:51px;display:none;-webkit-box-shadow:0px 3px 4px 0px rgba(50, 50, 50, 0.05);-moz-box-shadow:0px 3px 4px 0px rgba(50, 50, 50, 0.05);box-shadow:0px 3px 4px 0px rgba(50, 50, 50, 0.05);}
.search-field input{background:transparent;border:0;font-size:55px;font-family:"Roboto", Arial, sans-serif;font-weight:100;color:#fff;width:100%;outline:none;text-align:center;padding:0;margin:0;height:115px;font-size:33px;line-height:35px;padding:0;}
.search-field::-webkit-input-placeholder{color:#ccebff;}
.search-field:-moz-placeholder{color:#ccebff;}
.search-field::-moz-placeholder{color:#ccebff;}
.search-field:-ms-input-placeholder{color:#ccebff;}
.visible-xs.sidebar{display:block;margin:0;position:static;width:100%;}
.visible-xs.sidebar .submenu{margin-bottom:0;}
.title-mobile{font-size:16px;font-weight:bold;}
.imghome img{height:72px;}